extends layout

block content
  div(class="container")
    div(class="row")
      div(class="col-md-8")
        h1(class="display-5" style="color:red") Supreme Chess of Ultimate Darkness
        link(rel="stylesheet" href="/css/main.css")
        h1= Chess
        p(style='white-space:pre;' id="boardContainer")
        div(class="board" id="board")
        script(type="module", src='/chess/driver.js').
      div(class="col-md-4")
        button(type="button", id="createGameButton", class="btn btn-outline-dark") Create Game
        div(class="input-group mb-3")
          div(class="input-group-prepend")
            span(class="input-group-text", id="inputGroup-sizing-default") Game Name
          input(type="text", id="nameInput" class="form-control", aria-label="Game Name")
        ul(class="list-group", id="gameList")

block scripts
  script(src="/socket.io/socket.io.js")
  script(src="/chess/socket.js")