extends layout

block content
  link(rel="stylesheet" href="/css/main.css")
  h1= Chess
  p(style='white-space:pre;' id="boardContainer")
  div(class="board" id="board")
  script(type="module", src='/chess/driver.js').
  p Welcome to #{title}