body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.board
  {
    height: 500px;
    width: 500px;
  }
  .Row
  {
      display: flex;
      height: 12.5%;
  }
  .Cell
  {
      flex: 1;
      border: solid;
      border-width: thin;
      width: 12.5%;
      height: 100%

  }
